html, body {
	height: 100%;
	width: 100%;
  color: #223;
  margin:0;
  overflow-x: hidden !important;
}
.padding {
	padding-bottom: 6rem;
} 
.wrapper {
  padding-top: 70px;
  position: relative;
  bottom:0;
  display: block;
}

