@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*:not(i){
  font-family: 'Lato', sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
  color: #223;
  margin:0;
  background-color:#FAFAFA ;
}
.page-wrap {
  position: relative;
  min-height: 100vh;
}
.padding {
	padding-bottom: 2rem;
}
.top-accordion {
  padding-top: 50px;
}
.navbar-brand {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.navbar-nav li a {
  color:#fff !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.navbar-nav li a:hover {
  color:#3443eb !important;
}
.bg-dark {
  background-color: rgba(75,0,130,0.9) !important;