
.navbar-brand {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .navbar-nav li a {
    color:#fff !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .navbar-nav li a:hover {
    color:#4180cb !important;
  }
  .bg-dark {
    background-color: rgba(169,169,169,0.9) !important;
  }
  .footer {
    background:  rgba(169,169,169);
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 3rem;
  }
  .footer p {
    color: black;
  }
  .footer .links ul {
    list-style-type: none;
  }
  .footer .links li a {
    color: black;
    transition: color 0.2s;
  }
  .footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
  }
  .footer .about-company i {
    font-size: 25px;
  }
  .footer .about-company a {
    color: black;
    transition: color 0.2s;
  }
  .footer .about-company a:hover {
    color: #4180cb;
  }
  .footer .location i {
    font-size: 18px;
  }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
  }
  @media (min-width: 320px) {
    .footer {
      font-size: 10px !important;
      
    }
    .footer .about-company h2 {
      font-size: 18px !important;
    }
  }
  @media (min-width: 576px) {
    .footer {
      font-size: 15px !important;
    }
    .footer .about-company h2 {
      font-size: 25px !important;
    }
  }
  
  @media (min-width: 768px) {
    .footer {
      font-size: 15px !important;
    }
    .footer .about-company h2 {
      font-size: 25px !important;
    }
  }
  
  @media (min-width: 992px) {
    .footer {
      font-size: 15px !important;
    }
    .footer .about-company h2 {
      font-size: 25px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .footer {
      font-size: 15px !important;
    }
    .footer .about-company h2 {
      font-size: 25px !important;
    }
  } 