@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*:not(i){
  font-family: 'Lato', sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
  color: #223;
  margin:0;
  background-color:#FAFAFA ;
  /*background-image: url("../images/double-bubble-outline.png");*/
}
body {
  overflow-x: hidden;
}
.padding {
	padding-bottom: 2rem;
}
.navbar {
  position: fixed;
  width:100%;
  transition: background-color 1s;
}
.announce {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.masthead {
  height: 100vh;
  background-image: url("../images/GW_Photos/3.jpg");
  background-size: 100% 820px;
  background-repeat: no-repeat;

}
/*
.carousel-item{
    height: 100vh;
} */
.image-banner{
    height: 100vh;
    width: 100vh;
}
.dark-overlay:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.7);
  }
  footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
  padding-top: 2rem;
  overflow: hidden;
}
/** events **/
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.blog-home2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.blog-home2 h1,
.blog-home2 h2,
.blog-home2 h3,
.blog-home2 h4,
.blog-home2 h5,
.blog-home2 h6 {
  color: #3e4555;
}

.blog-home2 .font-weight-medium {
  font-weight: 500;
}

.blog-home2 .bg-light {
  background-color: #FAFAFA !important;
}

.blog-home2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.blog-home2 .text-themecolor {
  color: #316ce8;
}

.blog-home2 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home2 a.link {
  color: #3e4555;
}

.blog-home2 a.link:hover {
  color: #316ce8;
}

.blog-home2 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog-home2 .date-pos {
  right: 10px;
  top: 10px;
}

.blog-home2 .date-pos span {
  font-size: 30px;
  line-height: 30px;
}
.blog-home2 .bg-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}
.card {
  background-color: #FAFAFA;
}
#calendar {
  max-width: 1000px;
  margin: 40px auto;
  /*background-color: white;
  border-width:3px !important;*/
}
@media (min-width: 320px) {
  .masthead {
    background-size: 100% 75vh;
    height: 75vh;
  }
}
@media (min-width: 576px) {
    .masthead {
      background-size: 100% 100vh;
    }
}

@media (min-width: 768px) {
  .masthead {
    background-size: 100% 100vh;
  }
}

@media (min-width: 992px) {
    .masthead {
      background-size: 100% 100vh;
    }
}

@media (min-width: 1200px) {
  .masthead {
    background-size: 100% 100vh;
  }
} 